* {
    background-color: var(--preto);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;

}

:root {
    --preto: #000000;
    --vermelho: #84141A;
    --branco: #ffffff;
    --azul: #0C1556;
    --amarelo: #FBC02C;

    --font1: 'helvetica-compressed-5871d14b6903a.otf';
    --font2: 'TTNorms-Regular.otf';
}


/* Cabeçalho */
header {
    background-color: var(--preto);
    height: 50px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posicionamento {
    width: 1400px;
    margin: 0 auto;
}

.posicionamento_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posicionamento_header img {
    width: 35px;
    height: 28px;
}

.posicionamento_header>span {
    padding-left: 10px;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--branco);
    width: 20px;
    height: 27px;
}

header nav {
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}

header a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--font1);
    font-size: 18px;
}

/* barra de pesquisa */

#divBusca {
    background-color: #E0EEEE;
    border: solid 2px #fdf9f900;
    border-radius: 10px;
    width: 320px;
    height: 31px;

}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 20px;
    border: none;
    height: 27px;
    width: 243px;
    border-radius: 8px;
}

#btnBusca {
    border: none;
    float: right;
    height: 28px;
    border-radius: 7px;
    width: 70px;
    font-weight: bold;
    background: #FBC02C;
    ;
}

#divBusca img {
    float: left;
}

/* Banner principal */
.banner {
    background-image: url("../img/banner/banner-\(amigos-assistindo\).jpg");
    height: calc(100vh - 80px);
    background-size: cover;
    color: var(--branco);
    font-family: var(--font1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner>div>img {
    background-size: contain;
    position: absolute;
}

h2,
h3 {
    font-family: var(--font2);
    color: var(--amarelo);
    text-align: center;
}

h2 {
    margin-top: 200px;
    font-size: 50px;
    height: 200px;
}

h3 {
    padding: 28px;
    font-size: 20px;
}

span {

    color: var(--branco);
    font-size: 25px;
    text-align: center;
}


/* seção filmes e series  */

.card-linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 0;
}

.card>img {
    height: 470px;
    width: 320px;
    object-fit: cover;
    border-radius: 10px;
}

.card>div {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}



/* footer */


.img-footer {
    margin-top: 200px;
    width: 100%;
    background-size: cover;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.67%, #000000 100%), url(cinema_foto_pexels.jpg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.46);
}

ul {
    color: var(--branco);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

footer>div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--branco);
}
footer>div>span,p{
    text-align: center;
}

footer>div>img {
    width: 20px;
    height: 27px;
}
