* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;

}

:root {
    --preto: #000000;
    --vermelho: #84141A;
    --branco: #ffffff;
    --azul: #0C1556;
    --amarelo: #FBC02C;

    --font1: 'helvetica-compressed-5871d14b6903a.otf';
    --font2: 'TTNorms-Regular.otf';
}

/* Cabeçalho */
header {
    background-color: var(--preto);
    height: 50px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posicionamento {
    width: 1400px;
    margin: 0 auto;
}

.posicionamento_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>span {
    font-size: 18px;
    padding-left: 10px;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--branco);
    width: 20px;
    height: 27px;
}

header nav {
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}

header a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--font1);
    font-size: 18px;
}

/* barra de pesquisa */

#divBusca {
    background-color: #E0EEEE;
    border: solid 2px #fdf9f900;
    border-radius: 10px;
    width: 320px;
    height: 31px;

}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 20px;
    border: none;
    height: 27px;
    width: 243px;
    border-radius: 8px;
}

#btnBusca {
    border: none;
    float: right;
    height: 28px;
    border-radius: 7px;
    width: 70px;
    font-weight: bold;
    background: #FBC02C;
}

#divBusca img {
    float: left;
}


.card_login {
    border: 1px solid rgba(249, 241, 241, 0.021);
    border-radius: 43px;
    background-size: contain;
    position: absolute;
}

.btn_entrar{
    background-color: var(--amarelo);
    border: 4px solid var(--rosa);
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(25px);
    padding: 8px 25px;
    border-radius: 30%;
}

/* footer */
footer {
    background-color: var(--preto);
    height: 60px;
    padding: 20px 0 20px 0;
}

ul {
    color: var(--branco);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}