* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;

}

:root {
  --preto: #000000;
  --vermelho: #84141A;
  --branco: #ffffff;
  --azul: #0C1556;
  --amarelo: #FBC02C;

  --font1: 'helvetica-compressed-5871d14b6903a.otf';
  --font2: 'TTNorms-Regular.otf';
}

/* Cabeçalho */
header {
  background-color: var(--preto);
  height: 50px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header>span{
  background-color: var(--amarelo);
}

.posicionamento {
  width: 1400px;
  margin: 0 auto;
}

.posicionamento_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo>span {
  font-size: 18px;
  padding-left: 10px;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--amarelo);
  width: 20px;
  height: 27px;
}

header nav {
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
}

header a {
  color: var(--amarelo);
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font1);
  font-size: 18px;
}

/* barra de pesquisa */

#divBusca {
  background-color: #E0EEEE;
  border: solid 2px #fdf9f900;
  border-radius: 10px;
  width: 320px;
  height: 31px;

}

#txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-size: 20px;
  border: none;
  height: 27px;
  width: 243px;
  border-radius: 8px;
}

#btnBusca {
  border: none;
  float: right;
  height: 28px;
  border-radius: 7px;
  width: 70px;
  font-weight: bold;
  background: #FBC02C;
}

#divBusca img {
  float: left;
}


/* card login */

body{
  background-color: var(--azul);
}

.login-container {
  max-width: 500px;
  height: 395px;
  margin: 104.4px auto;

  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container>div>img{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.login-container>img{
  width: 50px;
  height: 50px;
  background-color: var(--azul);
  border: 1px solid var(--preto);
  border-radius: 2px;
}

h2 {
  text-align: center;
}

input[type="text"],
input[type="password"] {


  width: 100%;


  padding: 10px;


  margin-bottom: 10px;


  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;


  padding: 10px;


  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.login-container>div>img{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* footer */
footer {
  background-color: var(--preto);
  color: var(--amarelo);
  height: 60px;
  padding: 20px 0 20px 0;
}

ul {
  color: var(--amareloo);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}